body div#root {
  background-image:url("background.png");
  background-size:cover;
  background-position: center bottom;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

footer img {
  width: 40px;
  height: 40px;
  padding: 8px;
}

footer a {
  border: 1px solid transparent;
  border-radius: 8px;
}

footer a:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.6);
  transition: all 0.4s ease-in-out;
  border: 1px solid white;
}