.card-project {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

.card-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
}

.card-project::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 1;
}

.card-project.is-hovered::after {
    opacity: 1;
}

.written-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    color: white;
    opacity: 0;
    transition: scale 0.4s ease;
    z-index: 2;
}

.written-overlay h3 {
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.card-project.is-hovered .written-overlay {
    opacity: 1;
}

.card-project.is-hovered img {
    transform: scale(1.1);
}

.link {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
}

.link a {
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
}
    