.card-project {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.5);
    animation: appear 0.4s ease-out forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
}

.card-project::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 1;
}

.written-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
}

.written-overlay h3 {
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.link {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
}

.link a {
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
}

.card-project span {
    position: absolute;
    top: 32px;
    left: 0px;
}

.card-project .written-overlay {
  pointer-events: none;
}

.card-project.is-open .written-overlay {
  pointer-events: auto;
}

.card-project.is-open::after {
  opacity: 1;
}

.card-project.is-open .written-overlay {
  opacity: 1;
}

.card-project.is-open img {
  transform: scale(1.1);
}

.card-project span {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px 8px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-project span.Perso {
  background: rgb(6, 85, 109);
}

.card-project span.Ecole {
  background: rgb(128, 45, 0);
}

@media (hover: hover) {
  .card-project:hover::after {
    opacity: 1;
  }

  .card-project:hover .written-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .card-project:hover img {
    transform: scale(1.1);
  }
}