.card-skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
}

.card-skill .icon-title {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: rgb(95, 4, 180);
    transition:transform .4s ease;
    transform: translateY(0px);
    pointer-events: none;
}

