.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.home article {
    background-color: rgba(255,255,255,0.3);
    border: 3px solid transparent;
    border-radius: 8px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home article:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.6);
    transition: all 0.4s ease-in-out;
    border: solid 3px white;
}

.home article img {
    width: 80%;
}